<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ Info }}</title>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Rock Salt" rel='stylesheet'>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/infodesign.css' %}">
	
</head>

<body>
	<div class="rect_up">
		<a class= "sign_in_text" href="{% url 'metrics:home' %}">Sign In</a>
		<img id = "Alogo" src = "{% static 'metrics/images/AOSSIE_logo.png' %}" alt = "aossie_logo">
		<img id = "Slogo" src = "{% static 'metrics/images/Scholar_logo.png' %}" alt="scholar_logo">
		<img id = "index" src = "{% static 'metrics/images/index.png' %}" alt = "Index">
	</div>
	<div class= "rect_head">
		<p id="general">General</p>
		<p id= "metric"> Metrics</p>
		<img id = "vector" src = "{% static 'metrics/images/vector.svg' %}" alt = "Vector">
		<p id="information"> Informarmation</p>
	</div>
	<div class= "def" id="hindex">
		<p id="h-index">h-index:</p><p id="defi">h-index is the largest number h such that h publications have at least h citations. </p>
	</div>
		<img id= "hgraphimg" src="{% static 'metrics/images/hgraph.png' %}" alt="h index">
		<img id="hindeximg" src="{% static 'metrics/images/hindex.png' %}" alt="h index">
	
	<div class= "def" id="mindex">
		<p id="m-index">m-index:</p><p id="defi">m-index is another variant of the h-index that displays h-index per year since first publication. The h-index tends to increase with career length, and m-index can be used in situations where this is a shortcoming, such as comparing researchers within a field but with very different career lengths. The m-index inherently assumes unbroken research activity since the first publication. </p>
		</div>
		<img id="mindeximg" src="{% static 'metrics/images/m-index.png' %}" alt="m index">
	
	<div class="def" id="gindex">
		<p id="g-index">g-index:</p><p id="defi">g-index is a variant of the h-index that, in its calculation, gives credit for the most highly cited papers in a data set. The g-index is always the same as or higher than the h-index.</p>
		</div>
		<img id="gindeximg" src="{% static 'metrics/images/g-index.png' %}" alt="g index">

	<div class="def" id="tnc">
		<p id="tn-c">TNC:</p><p id= "defi">TNC is the sum of "Ncitations" column from the profile, i.e., the sum of, citations recieved for a publication normalized by number of co-Author's worked for that publication.</p>
	</div>

	<div class="def" id="tncc">
		<p id="tnc-c">TNCc:</p><p id= "defi">Total Normalized Citations(TNCc) normalized per country. As the name suggests the metric is computed taking Author's country into consideration. We use "Citations per document" data as per source. The data can bee seen here <a href="https://www.scimagojr.com/countryrank.php">data</a></p>
		</div>
		<img id="tncimg" src="{% static 'metrics/images/TNC.jpeg' %}" alt="TNC">

	

</body>
</html>

	